# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
# testing
/coverage

# production
/build

# misc
.env.local
.env.dev
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*


yarn.lock
node_modules
package-lock.json
build
*.DS_Store*
src/.DS_Store
src/assets/.DS_Store
inbound-augury-324120-7c4eb2bd55ea.json
.firebase/
.vscode/
.env.prod
.env.dev
.env.local
.env
note.txt