.defaultLayout {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.wrapper {
  margin-top: 92px;
  margin-bottom: 57px;
  background-color: #fff;
}

.mainContent {
  margin: auto;
  max-width: 1920px;
  width: 90%;
  padding: 20px 20px 100px 20px;
  margin-bottom: 56.9px;
}
